{% extends "base.html" %}

{% load static %}

{% block content%}
<div class="container mt-5 index-container">

    <section class="row mb-5 border border-dark rounded p-3 mx-2 mx-md-5">
        <div class="col-12 text-center">
            <h2>Welcome to GetMyDesign</h2>
            <p class="mt-2">Professional graphic design services.</p>
            <img src="/media/hero-image.jpg" class="img-fluid rounded shadow-sm hero-image " alt="Design">
            <p class="font-weight-bold font-italic mt-2">We transform ideas into design.</p>
            <a href="{% url 'portfolio_items' %}" class="btn btn-inicial">Portfolio Items</a>
        </div>
    </section>

    <section class="row mb-5 border border-dark rounded p-3 mx-2 mx-md-5">
        <div class="col-12 text-center mb-4">
            <h3>Our Work in Action</h3>
            <p>A glimpse into some of our design projects.</p>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <img src="/media/icon.jpg" class="img-fluid rounded shadow-sm img-fixed-size" alt="Design">
        </div>

        <div class="col-12 col-md-4 mb-4">
            <img src="/media/logo.jpg" class="img-fluid rounded shadow-sm img-fixed-size" alt="Design">
        </div>

        <div class="col-12 col-md-4 mb-4">
            <img src="/media/poster.jpg" class="img-fluid rounded shadow-sm img-fixed-size" alt="Design">
        </div>
    </section>

    <section class="row mb-5 border border-dark rounded p-3 mx-2 mx-md-5">
        <div class="col text-center">
            <h3>Previous Work</h3>
            <p>See some of our previous work.</p>
            {% if user.is_authenticated %}
            <a href="{% url 'previous_work' %}" class="btn btn-inicial">Previous Work</a>
            {% else %}
            <a href="{% url 'previous_work' %}" class="btn btn-inicial">Previous Work</a>
            {% endif %}
        </div>
    </section>

    <section class="row mb-5 border border-dark rounded p-3 mx-2 mx-md-5">
        <div class="col text-center">
            <h3>Request your Design</h3>
            <p>Fill out the form for your custom order.</p>
            {% if user.is_authenticated %}
            <a href="{% url 'create_order' %}" class="btn btn-inicial">Request your Design</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-inicial">Request your Design</a>
            {% endif %}
        </div>
    </section>

</div>
{% endblock%}