/*==================
Previous Work page
====================*/

.img-frame {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-frame > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-position: center; */
    display: block;
}