{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="border border-dark rounded p-4 mx-auto custom-max-width mb-5">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 mt-3 offset-sm-1 offset-md-2">
            <h2 class="mb-5">Request Your Design</h2>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <p> Estimated price: £<span id="price-preview">0.00</span></p>
                <button class="btn btn-inicial" type="submit">Submit Request</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ bolck.super }}
<script src="{% static 'js/automatic_price.js' %}"></script>
{% endblock %}