{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login%}
{% url 'create_order' as create_order_url %}
{% url 'my_orders' as my_orders_url %}
{% url 'previous_work' as previous_work_url %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
     
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs%}
    <script src="https://kit.fontawesome.com/f4c0765901.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
      <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <title>GetMyDesign {% block extra_title%}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top px-0">
      <!--<div id="topnav" class="row  pt-lg-2">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        </div>-->
        <!-- Search -->
        <!--<div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="">
          <div class="input-group w-100">
            <input class="form-control border border-dark rounded-0" type="text" name="q"
              placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control btn btn-dark border border-dark rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
        </div>-->
        <!--Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="container-fluid ">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
               <h2 class="text-dark my-0"><strong>GetMyDesign</strong></h2>
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
             aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class= "navbar-nav mr-auto mb-2 mb-lg-0">
             <li class="nav-item">
              <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}" href="{% url 'home' %}">Home</a>
             </li>
             <li class="nav-item">
              <a class="nav-link {% if request.path == previous_work_url %}active" aria-current="page{% endif %}" href="{% url 'previous_work' %}">Previous Work</a>
             </li>
          {% if request.user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link {% if request.path == my_orders_url %}active" aria-current="page{% endif %}" href="{% url 'my_orders' %}">My Orders</a>
             </li>
             <li class="nav-item">
              <a class="nav-link {% if request.path == create_order_url %}active" aria-current="page{% endif %}" href="{% url 'create_order' %}">Request your Design</a>
             </li>
          {% else%}
             <li class="nav-item">
              <a class="nav-link {% if request.path == login %}active" aria-current="page{% endif %}" href="{% url 'account_login' %}">Make a Request</a>
             </li>
             {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="text-dark nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                <i class="fas fa-user fa-lg"></i> My Account
                </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
    <!-- Displaying messages -->
    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
         {% with message.level as level %}
             {% if level == 25 %}
             {% include 'includes/toasts/toast_success.html' %}
             {% elif level == 20 %}
               {% include 'includes/toasts/toast_info.html' %}
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
         {% endwith %}
      {% endfor %}
    </div>
    {% endif %}

    <main class="flex-grow-1">
      {% if user.is_authenticated%}
      <p class="text-right m-3">Logged in as {{user}}</p>
      {% else %}
      <p class="text-right m-3">You are not logged in</p>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      <!-- Content Goes here -->
      {% endblock %}

    </main>
    

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="m-0 text-center text-white">{% block copyright %}GetMyDesign{% endblock %}</p>
        <p class="m-0 text-center text-white">
          <i class="fa-solid fa-phone m-3" ></i>07123456789
        </p>
        <p class="m-0 text-center text-white">Follow us: 
            <a href="https://www.facebook.com" target="_blank" class="text-white" aria-label="Follow us on Facebook" title="Follow us on Facebook">
              <i class="fab fa-facebook-square ml-3"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" aria-label="Visit our Twitter" class="text-white" title="Visit our Twitter">
              <i class="fab fa-twitter-square ml-3"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" aria-label="Visit our Instagram" class="text-white" title="Visit our Instagram">
              <i class="fab fa-instagram-square ml-3"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank" aria-label="Visit our channel on Youtube" class="text-white" title="Visit our channel on Youtube">
              <i class="fab fa-youtube-square ml-3"></i>
            </a>
        </p>
    </footer>

  </body>
</html>