{% load static %}

{% url 'home' as home_url %}
{% url 'account_login' as login%}
{% url 'create_order' as create_order_url %}
{% url 'my_orders' as my_orders_url %}
{% url 'previous_work' as previous_work_url %}
{% url 'portfolio_items' as portfolio_items_url %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GetMyDesign {% block extra_title%}{% endblock %}</title>
    <meta name="description"
          content="Custom graphic design services from GetMyDesign. Browse work by design type and request a design in minutes.">
    <meta name="keywords"
          content="request a custom graphic design, logo design, icon design, poster design,
          graphic design services, custom graphic design, online graphic design services,
          custom logo design, custom icon design, custom poster design, request your design ">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
     
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs%}
    <script src="https://kit.fontawesome.com/f4c0765901.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
      <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="container-fluid fixed-top px-0">
        <!--Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="container-fluid ">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
               <span  id="logo" class="text-dark my-0"><strong>GetMyDesign</strong></span>
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
             aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class= "navbar-nav mr-auto mb-2 mb-lg-0">
             <li class="nav-item">
              <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}" href="{% url 'home' %}">Home</a>
             </li>
             <li class="nav-item">
              <a class="nav-link {% if request.path == previous_work_url %}active" aria-current="page{% endif %}" href="{% url 'previous_work' %}">Previous Work</a>
             </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == portfolio_items_url %}active" aria-current="page{% endif %}" href="{% url 'portfolio_items' %}">Portfolio Items</a>
             </li>
          {% if request.user.is_authenticated %}
             <li class="nav-item">
              <a class="nav-link {% if request.path == my_orders_url %}active" aria-current="page{% endif %}" href="{% url 'my_orders' %}">My Orders</a>
             </li>
             <li class="nav-item">
              <a class="nav-link {% if request.path == create_order_url %}active" aria-current="page{% endif %}" href="{% url 'create_order' %}">Request your Design</a>
             </li>
          {% else%}
             <li class="nav-item">
              <a class="nav-link {% if request.path == login %}active" aria-current="page{% endif %}" href="{% url 'account_login' %}">Make a Request</a>
             </li>
             {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="text-dark nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
                <i class="fas fa-user fa-lg"></i> My Account
                </a>
              <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </header>
    <!-- Displaying messages -->
    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
         {% with message.level as level %}
             {% if level == 25 %}
             {% include 'includes/toasts/toast_success.html' %}
             {% elif level == 20 %}
               {% include 'includes/toasts/toast_info.html' %}
            {% else %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
         {% endwith %}
      {% endfor %}
    </div>
    {% endif %}

    <main class="flex-grow-1">
      {% if user.is_authenticated%}
      <p class="text-right m-3">Logged in as {{user}}</p>
      {% else %}
      <p class="text-right m-3">You are not logged in</p>
      {% endif %}

      {% block page_header %}
      {% endblock %}

      {% block content %}
      <!-- Content Goes here -->
      {% endblock %}

    </main>
    

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    {% endblock %}

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <p class="m-0 text-center text-white">{% block copyright %}GetMyDesign{% endblock %}</p>
        <p class="m-0 text-center text-white">
          <i class="fa-solid fa-phone m-3" ></i>07123456789
        </p>
        <p class="m-0 text-center text-white">Follow us: 
            <a href="https://www.facebook.com" target="_blank" rel="noopener" class="text-white" aria-label="Follow us on Facebook" title="Follow us on Facebook">
              <i class="fab fa-facebook-square ml-3"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter" class="text-white" title="Visit our Twitter">
              <i class="fab fa-twitter-square ml-3"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram" class="text-white" title="Visit our Instagram">
              <i class="fab fa-instagram-square ml-3"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Visit our channel on Youtube" class="text-white" title="Visit our channel on Youtube">
              <i class="fab fa-youtube-square ml-3"></i>
            </a>
        </p>
        <div class="col-12 col-md-6">
          <p class="text-white text-center mt-5">Get exclusive discount codes by subscribing to our monthly newsletter</p>
          <div id="mc_embed_shell">

<div id="mc_embed_signup">
    <form action="https://herokuapp.us7.list-manage.com/subscribe/post?u=1eb8dd917f40b18ed3745b5db&amp;id=eeb1f1c2e3&amp;f_id=008d93e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_1eb8dd917f40b18ed3745b5db_eeb1f1c2e3" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                <p style="margin: 0px auto;"><a href="http://eepurl.com/jk3-rU" title="Mailchimp - marketing por e-mail fácil e divertido"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
            </div>
        </div>
    </div>
</form>
</div>
</div>

        </div>
    </footer>

  </body>
</html>